{% extends "ordemDeServico/base.html" %}

{% block title %} Caixa de Entrada {% endblock %}
{% block content %}
	
	
	{% csrf_token %} 
	
    <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Caixa de Entrada</h3>

              <div class="box-tools">
                <ul class="pagination pagination-sm no-margin pull-right">
                  <li><a href="#">«</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">»</a></li>
                </ul>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table">
                <tbody>
                 <tr>
		    <th> NR OS </th>
		    <th> TIPO APOIO </th>
		    <th> CLASSE </th>
  	    	    <th> SISTEMA </th>
		    <th> DATA ABERTURA </th>
		    <th> STATUS ATUAL </th>
		    <th> VISUALIZAR </th>
	  	  </tr>
	  

		   {% for item in data %}
		    <tr>	 
			<td>{{ item.nr_os }}</td>
			<td>{{ item.tipo }}</td>
			<td>{{ item.classe }}</td>	 
			<td>{{ item.sistema_id }}</td>
			<td>{{ item.abertura_os_date }}</td>
			<td>{{ item.status }} </td>
			<td><a href="/ordemservico/visualizar/{{ item.id }}">Ver OS</a> </td>
		    </tr>
		  {% endfor %}
		</tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

    </div>

{% endblock %} 
